// HOME VIEW
.home-view{
  display: none;
  width: 100%;
  body.dark & {
    background-color: #2c2a4a;
  }
header{
  padding: 0 10px 0 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include size(100%, 50px);
  background-image: linear-gradient(180deg, #040240 0%, #2D2981 100%);
  position: fixed;
  z-index: 2;
  top: 0;
  h1{
    font-size: 24px;
    img{
      margin-right: 2px;
       @include size(30px, 30px);
    }
  }
  i{
    color: #ffffff;
    font-size: 25px;
  }
}
.container-of-icons{
  display: flex;
  align-items: center;
  .options{
    display: flex;
    align-items: center;
    background: none;
    border: none;
  }
  .fa-bars{
    @media  (min-width: 740px) and (max-width: 4000px){
      font-size: 0;
    }
  }
  #home-btn, .fa-cog, .actual-user-photo{
    margin-right: 20px;
    font-size: 0;
    display: none;
    @media  (min-width: 740px) and (max-width: 4000px){
      font-size: 25px;
      display: block;
    }
  }
}
main{
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .post-section{
    margin: 15px 0;
    @include flexModal(row);
    width: 100%;
    body.dark & { 
      color: rgb(255, 255, 255);
    }
    
    // border: solid red;
    a{
      margin: 0 15px;
      @include flexModal(row);
      @include size(70%, 44px);
      color: rgb(73, 73, 73);
      border-radius: 20px;
      font-family: 'NanumGothic';
      body.dark & { 
        color: rgb(255, 255, 255);        
        border: solid 1px rgb(255, 255, 255);
      }
      // border: solid 2px black;
      box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
    }
  }
}
footer{
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  @include size(100%, 50px);
  background-image: linear-gradient(180deg, #040240 0%, #2D2981 100%);;
  i{
    color: #ffffff;
    font-size: 25px;
    @media  (min-width: 740px) and (max-width: 4000px){
      font-size: 0;
    }
  }
  @media  (min-width: 740px) and (max-width: 4000px){
    @include size(0, 0);
    font-size: 0;
    padding: 0;
    margin: 0;
  }
}
}
// PROFILE INFO AND COVER PHOTO STYLE
.user-info{
  display: none;
  flex-direction: column;
  @include size(92%, 18em);
  max-width: 600px;
  // border: solid rgb(123, 255, 0);
  .user-cover-photo-container{
    margin-top: 8px;
    margin-left: 0;
    height: 12.5em;
    // border: solid red;
    display: flex;
    justify-content: center;
    padding: 0;

    label {
      width: 30px;
      height: 30px;
      position: relative;
      left: 50px;
      align-self: flex-end;
      bottom: 60px;
      
      i{
      position: relative;
      left: 6px;
      top: 5px;
      }
    }

    
    .user-cover-photo{
    margin-right: 15px;
    border-radius: 15px 15px 0 0;
    background-color: rgb(70, 68, 68);
    body.dark & { 
      background-color: #6b6c6d;
    } 
    @include size(100%, 10em);
    // border: solid rgb(0, 119, 255);
    }
    .user-profile-photo{
      margin: 0;
      position: absolute;
      align-self: flex-end;
      @include size(75px, 75px);
    }
  }
  .username-bio{
    // border: solid green;
    @include size(100%, 5em);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    h3{
      margin: 0;
      font-size: 19px;
      font-family: 'NanumGothic';
      text-align: center;
      body.dark & { 
        color: white;
      }
    }
    h5{
      margin: 0;
      color: rgb(48, 47, 47);
      font-size: 17px;
      font-family: 'NanumGothic';
      body.dark & { 
        color: white;
      }
    }
  }
}
// MAIN INNER CONTAINER FOR VIEWS
.main-section-style{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
// HOME MENU
.menu-nav{
  display: none;
  transition: 0.8s;
  overflow: hidden;
  position: fixed;
  flex-direction: column;
  @include size(180px, 100vh);
  background-color: rgba(5, 32, 56, 0.9);
  top: 50px;
  right: 0px;
  div{
    font-family: 'NanumGothic';
    color: white;
    @include size(100%, 43px);
    @include flexModal(column);
    &:hover{
      background-color: rgba(253, 255, 255, 0.212);
    
  }

  }

  .theme-options{
    border-bottom: 1px solid rgb(219, 219, 219);
    a {
      color: white;
      &:hover{
        background-color: rgba(253, 255, 255, 0.212);
    }
    }
  }

  div:first-child{
    a{
      @include flexModal(column);
      color: white;
      @include size(100%, 43px);
    }
    
    border-bottom: 1px solid rgb(219, 219, 219);
  }


  #log-out {
    &:hover{
      background-color: rgba(253, 255, 255, 0.212);
  }
  }
}
// POSTS AND OPTION TO POST CONATINER
#lateral-right{
  // border: solid red;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  #core-rail{
    // border: solid red;
    width: 100%;
    #home-posts, #profile-posts{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    }
  }
}
.right-size{
  @include size(50px, 50px);
}
.pic-style{
border-radius: 50%;
background-color: rgba(6, 135, 255, 0.719);
}
@media  (min-width: 1024px) and (max-width: 4000px){
  .flex-row{
    flex-direction: row;
    align-items: unset;
    justify-content: space-evenly;
  }
  .user-info{
    height: 24em;
    display: flex;
  .user-cover-photo-container{
    z-index: 0;
    label {
      width: 30px;
      height: 30px;
      border-radius: 50px;
      position: relative;
      left: 50px;
      align-self: flex-end;
      bottom: 60px;
      
      i{
      position: relative;

      left: 6px;
      top: 5px;
      }
    }
    margin-left: 0;
    height: 18em;
    .user-cover-photo{
      height: 15em;
      margin-left: 0;
      padding: 0;
    }
    .user-profile-photo{
      @include size(98px, 98px);
    }
  }
}
}
