// POST STYLE
.actual-home-post{
  @include size(100%, auto);
  margin: 10px 0;
  border-radius: 10px 0 10px 0;
  box-shadow: 0px 0px 25px -11px rgba(41,40,41,1);
  .header-post{
    display: flex;
    flex-direction: row;
    align-items: center;
    @include size(100%, 3.5em);
  img{
    margin: 0 8px;
    width: 40px;
    height: 40px;
  }
  .date-username{
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include size(52%, 3em);

    select{

        @include size(60px, 20px);
        font-size: 12px;
        border-radius: 5px;
        background-color: rgb(223, 236, 255);
        color: rgb(94, 93, 93);
        option {
          border: none;
          outline: none;
          border-style: none;
          font-size: 14px;
          background-color: white;
    }
  }
    p:first-child{
      font-weight: bold;
      font-size: 13px;
    }
    p{
      font-family: 'NanumGothic';
      font-size: 12px;
      margin: 0;
    }

  }
  .menu-container{
    @include size(30%, 3.5em);
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    
    i{
      margin: 7px 10px;
      font-size: 22px;
      color: rgb(87, 84, 85);
    }
  }
  .fa-globe-americas{
    margin: 0 6px;
  }
  }
  .main-post{
    width: 100%;
    height: auto;
    font-size: 14px;
    p{
      font-family: 'NanumGothic';
      padding: 5px 15px 0px 15px;
      width: 100%;
      word-wrap: break-word;
    }
    div{
      @include size(100%, auto);
    }
  }
  .footer-post{
    padding: 8px;
    width: 100%;
    i{
      margin: 5px;
    }
  }
  }
// POST AND COMMENT MENU
  .post-menu{
    @include size(120px, 60px);
    button{
     @include size(100%, 30px);
    }
  }
  .comment-menu{
    @include size(95px, 40px);
    button{
     @include size(100%, 20px);
    }
  }
  .style-menu{
    display: none;
    position: relative;
    flex-direction: column;
    box-shadow: 0px 0px 5px 3px rgba(102,100,102,0.28);
    button{
     border: none;
     background: none;
    }
    button:first-child{
      border-bottom: solid 1px rgb(177, 175, 175);
    }
  }
  // COMMENT FORM
  .comment-form{
    // background-color: orange;
    margin: 10px 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
        img {
          width: 35px;
          height: 35px;
          margin-left: 1%;
        }
        input{
          border: none;
          @include size(80%, 30px);
          text-indent: 15px;
          margin-right: 1%;
          margin-left: 3%;
          border-radius: 50px;
          background: #F1F1F1;
          font-size: 13px;
          font-family: 'NanumGothic';

        }
        button{
          background: none;
          border: none;
          i{
            font-size: 17px;
          }
        }
  }
  // COMMENT CONTAINER
  .comment-container{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .actual-home-comment{
      border-radius: 5px;
      background-color: rgb(223, 236, 255);
      margin:  5px 0 15px 0;
      padding: 3px;
      @include size(100%, auto);
      img {
        width: 35px;
        height: 35px;
        margin-left: 1%;
        margin-bottom: 15px;
      }
      p{
        width: 100%;
        // background-color: sandybrown;
        font-family: 'NanumGothic';
        font-size: 12px;
        // margin-top: 5px;
      }
      >p{
        word-wrap: break-word;
        font-size: 14px;
        padding: 0 10px 10px 10px;
      }
    }
    .actual-home-comment:before {
      content: "";
      position: absolute;
      margin: -12px 8px 0 5px;
      width: 0;
      height: 0;
      border-bottom: 12px solid rgb(223, 236, 255);
      border-right: 12px solid transparent;
      border-left: 12px solid transparent;
      
    }
  }
  .header-comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    .date-username{
      @include size(100%, 2.8em);
      margin:  0 8px 0 8px;
      .comment-userName{
        font-weight: bold;
        font-size: 12px;
      }
    }
    .menu-container{
      @include size(30%, 3em);
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      
      i{
        font-size: 18px;
        color: rgb(87, 84, 85);
        position: relative;
        top: -7px;
      }
    }
  }
  .comment-size{
    @include size(40px, 40px);
  }
  
@media  (min-width: 1024px) and (max-width: 4000px){
.actual-home-post{
  .header-post{
    height: 3.8em;
    img{
      margin: 0 6px;
    }
    .date-username{
      @include size(60%, 3.5em);
    }
  }
}
.header-comment{
  .date-username{
    width: 90%;
  }
}
.comment-form{
  margin: 20px 0;
      input{
        width: 90%;
      }
    }

}