@import "global.scss", "parts/_loginView.scss", "parts/_singupView.scss", "parts/_homeView.scss", "parts/_singupView.scss", "parts/_publication.scss", "parts/_settings.scss","parts/_toShare.scss", "parts/_profile.scss", "parts/_modal.scss";

 body, #actual-view, .view  {
    @include view;
    @include box-without-border;
    font-family: 'Nanum Gothic', sans-serif;
    @include desktop-screen(){
       @include flex-row-center(row);
    }
 }

i {
   @include icon-white;
}
.hide-overflow{
    overflow: hidden;
    height: 80vh;
}