// MENU THEMES OPTIONS
.themes-options2{
    background-color: rgba(0, 0, 0, 0.603);
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    transition: 1s;
    overflow: hidden;
    @include flexModal(column);
    top: 8vh;
    position: absolute;

    .cont {
        position: absolute;
        z-index: 2;
        body.dark & { 
            background-color: #b4bae0;
          }
        @include flexModal(column);
        @include size(100vw, 75vh);
        @include desktop-screen(){
            border-radius: 3vh;
            background-color: #ffffff;
            @include size(50vw, 75vh);
        }
        button{
            font-size: 3vh;
            padding: 3vh;
            border: none;
            border-radius: 2vh;
            text-align: center;
            margin: 2vh;
        }
        .light-mode{
            background-color: rgb(255, 245, 107);
        }
        .dark-mode{
            background-color: rgb(107, 171, 255);
        }
        i{
            margin:  0 1vh;
            color:#0F0C48;
        }
    }
    
}
