@import "../global.scss";
//===bar===
#home{
    margin: 0;
    display: flex;
    flex-direction: column;
    @include size(100vw, auto);
    header{
       font-family: 'Sifonn';
        @include bar;
        position: fixed;
        top: 0;
        justify-content: space-between;
        body.dark & {
          background-color: #2c2a4a;

        }
    }
    main{
      @include size(100vw, auto);
      margin: 8vh 0 0 0;
      padding: 0;
    }
    footer{
        @include bar;
        position: fixed;
        bottom: 0;
        justify-content: space-around;
        align-items: center;
        @include desktop-screen(){
            display: none;
        }
    }
}
.logo-bunker{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 2vh;
    width: 28vh;
    img{
      @include size(6vh, 5vh);
    }
    img:hover{
      @include rorate-animation;
      @include static-animation;
    }
    h1{
      font-size: 4vh;
      color: rgb(255, 254, 249);
    }
}
.icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .profileBtn{
      margin: 0;
      padding: 0;
      img{
        border: solid 1.5px rgb(216, 216, 216);
        @include size(5vh, 5vh);
      }
    }
    button{
      background: none;
      border: none;
    }
    .icon-up ,.fa-cog, .user-icon{
        display: none;
    }
    @include desktop-screen{
        @include size(200px,auto);
        .icon-up ,.fa-cog, .user-icon{
            @include size(25px,25px);
            display: flex;
        }
        .fa-bars{
            display: none;
        }
    }
}
//===profile section===
.cover-profile {
    @include border-radius(up,10px);
    margin-top: 1vh;
    background-color: black;
}

.profile{
    @include size(50px,50px);
    @include circle;
    background-color: $color-2;
}

.lateral-left{
  @include flexModal(column);
  display: none;
  @include desktop-screen(){
      @include size(38vw, auto);
      display: flex;
  }
    div:first-child{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      @include size(100vw, 26vh);
      @include desktop-screen{
          @include size(38vw, 43vh);
      }
      .cover-profile{
        align-self: flex-start;
        @include size(92vw, 20vh);
        background-color: rgb(61, 60, 60);
        body.dark & { 
          background-color: #6b6c6d;
        }        
        @include desktop-screen{
            @include size(36vw, 33vh);
        }
      }
      .profile{
        position: absolute;
        align-self: flex-end;
        @include size(23vw, 23vw);
        @include desktop-screen{
            @include size(10vw, 10vw);
        }
      }
    }
    div:last-child{
      @include desktop-screen{
        width: 38vw;
      }
            h3, h5{
              text-align: center;
              margin: 1.5vh 0;
              font-size: 3vh;
                color: rgb(26, 25, 25);
                body.dark & { 
                  color: white;;
                }
                @include desktop-screen{
                   margin: 1vh 0;
                }
            }
    }
}
//====share section===
.lateral-rigth{
  @include flexModal(column);
  @include size(100vw, auto);
  .share-section{
    margin-top: 2vh;
    padding: 1vh;
    width: 95vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @include desktop-screen(){
      width: 27vw;
    }
    a{
      text-align: center;
      text-decoration: none;
      padding: 1.7vh 0;
      width: 85vw;
      margin:  0 2vh;
      color: rgb(77, 77, 78);
      border: solid 1px rgb(107, 103, 103);
      border-radius: 3vh;
      body.dark & { 
        color: rgb(187, 187, 187);
      }
      @include desktop-screen(){
        width: 45vh;
        padding: 1vh 0;
      }
    }
  }
    @include desktop-screen(){
        @include size(40vw, auto);
    }

}
@include desktop-screen(){
  .fixed{
    position: fixed;
    top: 8vh;
    left: 0;
  }
  .margin-left{
    margin-left: 18vw;
  }
}
#route-change-content{
  width: 100vw;
  @include flexModal(column);
}
.show-element-flex{
  display: flex;
}
.core-rail{
    @include size(100%, auto);
    margin: 0;
    padding: 0;
    padding-bottom: 8vh;
    @include desktop-screen() {
      padding: 0;
    }
    ul{
        @include size(100%, auto);
        padding: 0;
    }
}
.post-container{
    bottom: 7.5%;
    transition: 1s;
    overflow: hidden;
    position: absolute;
    background-color: #fff;
    @include size(100%, 0);
}

#post-form {
  body.dark & { 
    background-color: #B9BEDF;
  }
  #post-content {
    body.dark & { 
      background-color: #B9BEDF;
    }
  }
}

.hide-overflow{
    overflow: hidden;
    height: 100vh; 
    @include desktop-screen(){
      height: 92vh;
    }
}