@import "../global.scss";
//===bar===
#home{
    margin: 0;
    display: flex;
    flex-direction: column;
    @include size(100vw, auto);
    header{
       font-family: 'Sifonn';
        @include bar;
        position: fixed;
        top: 0;
        justify-content: space-between;
    }
    main{
      @include size(100vw, auto);
      margin: 8vh 0 0;
      padding: 0;
      // border: solid rgb(38, 255, 0);
      @include flexModal(column);
        @include desktop-screen(){
          align-items: unset;
          min-height: 93vh;
          flex-direction: row;
          margin-top: 10vh;
        }
    }
    footer{
        @include bar;
        position: fixed;
        bottom: 0;
        justify-content: space-around;
        align-items: center;
        @include desktop-screen(){
            display: none;
        }
    }
}
.logo-bunker{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 2vh;
    width: 28vh;
    img{
      @include size(6vh, 5vh);
    }
    img:hover{
      @include rorate-animation;
      @include static-animation;
    }
    h1{
      font-size: 4vh;
      color: rgb(255, 254, 249);
    }
}
.icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .profileBtn{
      margin: 0;
      padding: 0;
      img{
        border: solid 1.5px rgb(216, 216, 216);
        @include size(5vh, 5vh);
      }
    }
    button{
      background: none;
      border: none;
    }
    .icon-up ,.fa-cog, .user-icon{
        display: none;
    }
    @include desktop-screen{
        @include size(200px,auto);
        .icon-up ,.fa-cog, .user-icon{
            @include size(25px,25px);
            display: flex;
        }
        .fa-bars{
            display: none;
        }
    }
}
//===profile section===
.cover-profile {
    @include border-radius(up,10px);
    margin-top: 1vh;
    background-color: black;
}

.profile{
    @include size(50px,50px);
    @include circle;
    background-color: $color-2;
}

.lateral-left{
  display: flex;
  flex-direction: column;
  display: none;
  // border: solid red;
    div:first-child{
      // border: solid rgb(255, 124, 168);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      @include size(100vw, 26vh);
      @include desktop-screen{
          @include size(38vw, 45vh);
      }
      .cover-profile{
        align-self: flex-start;
        @include size(92vw, 20vh);
        background-color: rgb(61, 60, 60);
        @include desktop-screen{
            @include size(35vw, 35vh);
        }
      }
      .profile{
        position: absolute;
        align-self: flex-end;
        // margin-top: 13vh;
        @include size(23vw, 23vw);
        @include desktop-screen{
            @include size(10vw, 10vw);
            // margin-top: 25vh;
        }
      }
    }
    div:last-child{
      @include desktop-screen{
        width: 38vw;
      }
            h3, h5{
              margin: 1.5vh 0;
              font-size: 3vh;
                color: rgb(26, 25, 25);
                @include desktop-screen{
                   margin: 1vh 0;
                }
            }
    }
    @include desktop-screen(){
        // border: solid red;
        @include size(35vw, auto);
        position: fixed;
        display: flex;
        flex-direction: column;
    }
}

//====share section===
.lateral-rigth{
  // border: solid red;
  @include flexModal(column);
  @include size(100vw, auto);
  .share-section{
    margin-top: 2vh;
    padding: 1vh;
    width: 83vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @include desktop-screen(){
      // border: solid red;
      width: 27vw;
    }
    a{
      text-decoration: none;
      padding: 1.7vh 0;
      width: 33vh;
      margin:  0 2vh;
      color: rgb(77, 77, 78);
      border: solid 1px rgb(107, 103, 103);
      border-radius: 3vh;
      @include desktop-screen(){
        width: 35vh;
      }
    }
  }
    @include desktop-screen(){
      // border: solid red;
        @include size(40vw, auto);
        margin-left: 38vw;
    }

}
#route-change-content{
  width: 100vw;
  min-height: 84vh;
  @include desktop-screen(){
    min-height: 93vh;
  }
}
.show-element-flex{
  display: flex;
}
.core-rail{
    // border: solid red;
    @include size(100%, 100%);
    margin: 0;
    padding: 0;
    ul{
        @include size(100%, 100%);
        padding: 0;
        li{
            width: 100%;
            height: auto;
            text-align: left;
            i{
                @include icon-black;
                margin: 2% 5px 2% 0;
            }
         } 
    }
}
.post-container{
    bottom: 7.5%;
    transition: 1s;
    overflow: hidden;
    position: absolute;
    background-color: #fff;
    @include size(100%, 0);
}