@import "../global.scss";
//===bar===
.app-content{
    @include size(100vw, 84vh);
    margin-top: 8vh;
}
#home{
    display: flex;
    flex-direction: column;
    @include size(100vw, 100vh);
    header{
        @include bar;
        position: fixed;
        top: 0;
        justify-content: space-between;
    }
    main {
        @include desktop-screen(){
            min-height: 100vh;
            @include size(100vw, auto);
            display: flex;
            flex-direction: row;
            margin-top: 16vh;
        }
    }
    footer{
        @include bar;
        position: fixed;
        bottom: 0;
        // @include fixed-side(top);
        justify-content: space-around;
        @include desktop-screen(){
            display: none;
        }
    }
}
.logo-bunker{
    @include logo-without-slogan;
}
.icons{
    @include padding(1vh, 0, 2vh, 0);
    display: flex;
    justify-content: space-between;
    .icon-up ,.fa-cog, .user-icon{
        display: none;
    }
    @include desktop-screen{
        @include size(200px,auto);
        .icon-up ,.fa-cog, .user-icon{
            @include size(25px,25px);
            display: block;
        }
        .fa-bars{
            display: none;
        }
    }
}
//===profile section===
.lateral-left{
    display: none;
    div:first-child{
        @include cover;
        @include desktop-screen(){
            @include size(35vw, 38vh);
            padding: 0;
        }
        .cover-profile{
            @include desktop-screen(){
                @include size(35vw, 28vh);
            }
        }
        .profile{
            position: absolute;
            top: 22vh;
        }
    }
    div:last-child{
            h3, h5{
                color: rgb(26, 25, 25);
            }
            @include desktop-screen(){
            }
    }
    @include desktop-screen(){
        margin-left: 2vh;
        // border: solid red;
        @include size(35vw, 100vh);
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.cover-profile{
    @include border-radius(up,10px);
    margin-top: 10px;
    background-color: black;
}
//====share section===
.lateral-rigth{
    @include size(100vw, 100%);
    @include desktop-screen(){
        @include size(35vw, auto);
        margin-left: 38vw;
    }

}

.share-section{
    @include size(100%,70px);
    @include padding(10px,10px,10px,10px);
    @include grid-2x1(20%,80%);
    justify-content:center;
}
.profile{
    @include size(50px,50px);
    @include circle;
    background-color: $color-2;
}
.share{
    @include button-input-share;
    @include size(auto,30px);
}
.core-rail{
    @include size(100%, 100%);
    margin: 0;
    padding: 0;
    ul{
        @include size(100%, 100%);
        padding: 0;
        li{
            width: 100%;
            height: auto;
            text-align: left;
            i{
                @include icon-black;
                margin: 2% 5px 2% 0;
            }
         } 
    }
}
.post-container{
    bottom: 7.5%;
    transition: 1s;
    overflow: hidden;
    position: absolute;
    background-color: #fff;
    @include size(100%, 0);
}