@import "../global.scss";

//===cover-container===
.cover-container {
    
    @include size(100vw, 20vh);
    div {
        @include add-image(url(../images/cover.png));
        @include size(100%,100%);
        @include desktop-screen(){
            @include add-image(url(../images/coverDesktop.png));
        }
    }
    @include desktop-screen(){
        @include size(50vw, 100vh);
    }
}
//===login-container===
.form-container{ //cambié el id por clase
    @include size(100vw, 80vh);
    @include flex-row-center(row);
    align-items: center;
    @include desktop-screen(){
        @include size(50vw, 100vh);
    }
}

.modals {
    @include flex-row-center(column);
    @include size(80%, 85%);
    @include font-siffon(10px);
    justify-content: space-around;
    background: $color-gradient;
    border-radius: 20px;
    header {
        @include logo-with-slogan;
        color: $color-6;
        margin-top: 3%;

        @include desktop-screen(){
            margin-bottom: 0%;
        }
    }
    main{
        @include flex-row-center(column);
        @include size(100%, 80%);
        justify-content: space-around;
        .welcome {
            @include font-siffon(14px);
            color: $color-4;
            margin-top: 2%;
        }
        .fa-eye {
            position: relative;
            top:-28px;
            left: 95px;
            font-size: 18px ;
            color: $color-7;
        }
        form{
            @include flex-row-center(column);
            @include size(100%, auto);
            margin-top: 15px;
            input{
                @include input;
                &:hover{
                    @include blue-animation;
                }
                &:focus{
                    outline: none;
                }
            }
        }
    }
    @include desktop-screen(){
        @include size(60%, 80%);
        main {
            .fa-eye {
                position: relative;
                top:-33px;
                left: 135px;
            }

            .welcome {
                @include font-siffon(18px);
                color: $color-4;
                margin-top: 2%;
            }

        }
        
    }
}
//===main===
#login-email, #signUp-name {
    @include border-radius(up, 10px);
}
#signUp-email {
    border-radius: 0;
}
#login-password, #signUp-password {
    @include border-radius(down, 10px)
}

.text-12{
    @include font-NahumGothic(12px);
    color: $color-6;
}

.text-13{
    @include font-NahumGothic(14px);
    margin: 10px;
    color: $color-6;
}

.container-errors {
    position: relative;
    bottom: 10px;
    @include font-NahumGothic(10px);
    color: $color-6;
}

.question-container {
    @include grid-2x1(60%,50%);
    @include font-NahumGothic(12px);
    color: $color-6;
}

.button-access{
    @include button(65% ,40px , 10px, 16px);
    margin-top: 2%;
    &:hover{
        @include box-animation;
    }
}
.rrss {
    @include size(40%, 8vh );
    display: flex;
    justify-content: space-around;
    top: 20px;
}
.click-signUp, .click-login {
    @include font-NahumGothic(14px);
    text-decoration: none;
    cursor: pointer;
    color: $color-4;
}