.publication{
    @include size(100%, auto);
    @include border-radius(mix,10px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px -11px rgba(41,40,41,1);
    margin: 3vh 0;
    padding: 0;
    i{
      margin: 0 1vh;
      @include icon-black;
          }
    .header{
        @include size(100%,30%);
        display: flex;
        align-items: center;
        @include padding(1vh, 0, 0, 1vh);
        img {
            margin:2px 2px;
            @include size(36px, 36px);
            margin-top:3px;
        }
    }
    .main{
        word-wrap: break-word;
        @include size(92vw, auto);
        margin: 0;
        @include padding(2vh, 2vh, 2vh, 2vh);
        @include post-text;
        @include desktop-screen() {
          @include size(38vw, auto);
        }
    }
    .footer{
        @include size(93%,30%);
        padding-left: 1vh;
        display: flex;
        justify-content: flex-start;
        i{
            @include padding(0vh, 1vh, 1vh, 1vh);
            @include icon-black;
        }
    }

    .new-comment{
      // background-color: yellow;
      @include size(100%, auto);
      @include padding(1vh, 2vh, 1vh, 2vh);
      flex-direction: column;
      
    
      section {
        @include flex-space-between;
        img {
          @include size(30px,30px);
          // background-color: orange;
          margin-right: 1%;
        }

        input {
          @include size(80%, auto);
          @include border-radius(all,20px);
          @include border(1px,white);
          text-indent: 15px;
          margin-right: 1%;
          background: $color-5;
        }

        .icon-send {
          margin-top: 0.5%;
          font-size: 20px;
          
        }

      }

      .container-comments {
        @include size(100%, auto);
        @include margins(15px,0px,10px,0px);
        box-shadow: 0px 0px 2px 0px rgba(102,99,102,1);
        

        .name-comments {
          display: flex;
          flex-direction: row;

          img {
            @include size(30px, 30px);
            @include margins(10px, 10px, 10px, 10px);

          }

          .columnComment {
            
            .name-Date {
              @include size(100%,30%);
                                                     
              i {
                @include positions(relative, 155%, 0, 0);
                @include desktop-screen(){
                  @include positions(relative, 270%, 0, 0);
              }
              }

              h2 {
                position: relative;
                top: -15px;
                @include font-NahumGothic(11px);
              } 
          }

          .text-post {
            @include size(100%, auto);
            position: relative;
            top: -20px;
            
          }

          }


        }
      }
       
    }

    .hide {
      display: none;
    }
    
}


.date{
    @include size(78vw ,100%);
    text-align: left;
    color: $color-1;
    font-size: 12px;
    padding-left: 1vh;
    @include desktop-screen() {
      width: 34vw;
    }
}
.photo-post{
  @include size(100vw, auto);
  @include desktop-screen() {
    @include size(40vw, auto);
  }
}
 .modal-options{
   @include flexModal(column);
    @include size(0px,40px);
    position: relative;
    @include padding(0vh, 0vh, 0vh, 1vh);
    margin-left: 4vw;
    font-size: 12px;
    overflow: hidden;
    transition: 0.25s;
 }
 .options-appear{
    width: 100px;
    box-shadow: 0px 0px 2px 0px rgba(102,99,102,1);
    background-color: #fdfdfd;
}
.efect-like{
  color: red !important;
}