.publication{
    @include size(100%, auto);
    @include border-radius(mix,10px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px -11px rgba(41,40,41,1);
    margin: 3vh 0;
    padding: 0;
    i{
      margin: 0 1vh;
      @include icon-black;
          }
    .header{
        @include size(100%,30%);
        display: flex;
        align-items: center;
        @include padding(1vh, 0, 0, 1vh);
        img {
            margin:2px 2px;
            @include size(36px, 36px);
            margin-top:3px;
        }
    }
    .main{
        word-wrap: break-word;
        @include size(92vw, auto);
        margin: 0;
        @include padding(2vh, 2vh, 2vh, 2vh);
        @include post-text;
        @include desktop-screen() {
          @include size(38vw, auto);
        }
    }
    .footer{
        @include size(93%,30%);
        padding-left: 1vh;
        display: flex;
        justify-content: flex-start;
        i{
            @include padding(0vh, 1vh, 1vh, 1vh);
            @include icon-black;
        }
    }

    .new-comment{
      @include size(100%, auto);
      @include padding(1vh, 2vh, 1vh, 2vh);
      flex-direction: column;
    
      section {
        @include flex-space-between;
        padding-bottom: 3%;
        img {
          @include size(30px,30px);
          margin-right: 1%;
          border-radius: 50px;
        }

        input {
          @include size(80%, auto);
          @include border-radius(all,20px);
          @include border(1px,white);
          text-indent: 15px;
          margin-right: 1%;
          background: $color-5;
        }

        .icon-send {
          margin-top: 0.5%;
          font-size: 20px;
        }

      }

      .container-comments {
        @include size(100%, auto);
        @include margins(15px,0px,0px,0px);

        .name-comments {
          @include size (100%, auto);
          background: $color-10;
          border-radius: 8px;
          margin-bottom: 5%;
        
            .header-comment {
              @include size(100%, 30px);
              @include flex-space-between;
         
              
                img {
                @include size(32px, 32px);
                border-radius: 50px;
                @include margins(1%,2%,1%,2%);
              }
                div {
                  @include size(100%, auto);
            
                  h2 {
                    @include font-NahumGothic(10px);
                  }
    
              }

                .tooltip-container {
                   @include size(35%, auto);
                  .tooltip {
                    margin-top: 5px;
                    line-height: 18px;
                    background: white;
                    @include size(100%, auto);
                    @include font-NahumGothic(11px);
             
                    i {
                      font-size: 11px;
                      color: $color-7;
                    }
                  }
                    @include desktop-screen() {
                      @include size(20%, auto);
                    }
                }
            }

            .main-comment {
              @include size (90%, auto);
              .text-post {
                // background-color: orange;
                @include size(90%, auto);
                position: relative;
                left: 14%;

                p {
                  @include font-NahumGothic(12px);
                  @include padding(2%, 2%, 2%, 2%);
                  word-wrap: break-word;
                  margin-top: 0px;
                  margin-bottom: 0px;
                  @include desktop-screen() {
                    @include font-NahumGothic(13px);

                  }
                }

                .save-comment{
                    text-align: center;
                    i {
                      @include margins(0,0,1vh,0);
                      font-size: 12px;
                      color: $color-7;

                    }
                  }
              

                @include desktop-screen() {
                  left: 10%;
                } 
              }
    
            }

        }

        .name-comments:before {
          content: "";
          @include cartoon(0,0, 12px, $color-10); 
          @include margins(-3%, 2%, 0, 2%);

          @include desktop-screen() {
              @include cartoon(0,0, 15px, $color-10); 
              @include margins(-1%, 2%, 0, 2%);
          }
        }
      }
    }

    .hide {
      display: none;
    }
    
}


.date{
    @include size(78vw ,100%);
    text-align: left;
    color: $color-1;
    font-size: 12px;
    padding-left: 1vh;
    @include desktop-screen() {
      width: 34vw;
    }
}
.photo-post{
  @include size(100vw, auto);
  @include desktop-screen() {
    @include size(40vw, auto);
  }
}
 .modal-options{
   @include flexModal(column);
    @include size(0px,40px);
    position: relative;
    margin-left: 4vw;
    font-size: 12px;
    overflow: hidden;
    transition: 0.25s;
    line-height: 18px;

    i {
      font-size: 11px;
      color: $color-7;
    }
 }
 .options-appear{
    width: 100px;
    box-shadow: 0px 0px 2px 0px rgba(102,99,102,1);
    background-color: #fdfdfd;
}
.efect-like{
  color: red !important;
}