@import "../global.scss";
.terms {
    @include size(80%,auto);
    @include grid-2x1(10%,90%);
    margin-bottom: 18px;
    text-align: left;
    color: $color-6;
    p{
        @include size(100%,auto);
        @include font-NahumGothic(12px);
        margin-left: 3%;
        @include desktop-screen() {
            margin-left: 0%;
        }

    }
        
}

 input[type=checkbox] {
   @include scale(2); 
   @include desktop-screen() {
    @include scale(3); 
 }
 
}

.question-containerSingUp {
    width: 90%;
    position: relative;
    top: 10px;
    @include grid-2x1(61%,39%);
    @include font-NahumGothic(12px);
    color: $color-6;
    @include desktop-screen() {
        width: 70%;
        position: relative;
        top: 20px;
        @include grid-2x1(60%,40%);
    }
}

#btn-signUp {
    @include button(65% ,70px , 10px, 16px);
    margin-top: 8%;
    &:hover{
        @include box-animation;
    }
}
// .errors {
//     position: relative;
//     top: 10px;
// }