// POST FORM
.post-container{
  width: 100vw;
  position: absolute;
        @include desktop-screen(){
          background-color: rgba(0, 0, 0, 0.603);
          margin: 0;
            top: 8vh;
            left: 0;
            @include flexModal(column);
            @include size(100%, 92vh);
        }
    margin: 0;
    @include size(100vw, 85%);
    label{
        margin: 0 2vh;
        i{
            color: $color-1;
        }
    }
    .go-back{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-bottom: solid 2px rgb(195, 193, 193);
        @include size(100vw, 7%);
        @include desktop-screen(){
            display: none;
        }
        i{
            margin: 0 2%;
            color: rgb(128, 128, 168);
        }
    }
    section {
        @include desktop-screen(){
            @include size(50vw, 75vh);
        }
        @include size(100vw, 93%);
        form{
            @include size(100%, 75vh);
            @include desktop-screen(){
                background-color: #ffffff;
                padding: 2vh;
                border-radius: 3vh;
                @include size(50vw, 70vh);
            }
            #option-public{
            height: 10vh;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 1vh;
                p{
                font-size: 3vh;
                margin: 0 2vh;
                color: rgb(59, 59, 59);
                }
                select{
                padding: 1vh;
                font-size: 3vh;
                }
            }
            textarea{
                font-size: 3vh;
                border: none;
                resize: none;
                padding: 1vh 3vh;
                @include size(100vw, 30vh);
                @include desktop-screen(){
                    @include size(47vw, 25vh);
                }
            }

            textarea:focus{
                outline: none;
            }

            #preview{
                margin-bottom: 2vh;
                @include size(100vw, 22vh);
                @include desktop-screen(){
                    @include size(50vw, 25vh);
                    margin-bottom: 1vh;
                }
                img{
                    @include size(auto, 25vh);
                }
            }

            button{
                padding: 2vh;
                width: 15vh;
                border-radius: 1vh;
                border: none;
                color: cornsilk;
                background-color: #0f0c48;
            }
        }
        }
}
#upload-photo, #change-photo, #change-cover{
    display: none;
}
// MENU
.menu-container{
    @include size(0, 86%);
    transition: 0.8s;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 7.5vh;
    background-color: rgba(5, 32, 56, 0.931);
    ul{
        list-style: none;
        width: 100%;
        padding: 0;
        margin: 0;
        li{
            text-align: center;
            margin: 0;
            a{
              display: flex;
              justify-content: center;
              padding:  2vh 0;
              text-decoration: none;
              color: cornsilk;
            }
            color: cornsilk;
        }
        li:last-child{
          padding:  2vh 0;
        }
        li:hover{
            background-color: rgba(253, 255, 255, 0.212);
        }
    }
    @include desktop-screen(){
        height: 93vh;
    }
}
.appear{
    width: 40vw;
    @include desktop-screen(){
      width: 14vw;
    }
}
//MENU EDIT PROFILE
#profile-form{
    @include desktop-screen(){
        justify-content: center;
    }
    @include flex-row-center(column);
    label{
        margin: 2vh 0;
        font-size: 3vh;
    }
    .photo-label{
        color: rgb(19, 142, 243);
    }
    input{
        padding: 1vh;
        font-size: 3vh;
    }
    button{
        margin: 5vh 0;
    }
    div{
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        @include desktop-screen(){
            @include size(50vw, 12vh);
            justify-content: center;
        }
        img{
            margin: 2vh 3vh;
        }
        p{
            font-size: 3vh;
        }
    }
}
// MENU THEMES OPTIONS
.themes-options{
    @include flexModal(column);
    @include size(100vw, 75vh);
    @include desktop-screen(){
        border-radius: 3vh;
        background-color: #ffffff;
        @include size(50vw, 75vh);
    }
    button{
        font-size: 3vh;
        padding: 3vh;
        border: none;
        border-radius: 2vh;
        text-align: center;
        margin: 2vh;
    }
    .light-mode{
        background-color: rgb(255, 245, 107);
    }
    .dark-mode{
        background-color: rgb(107, 171, 255);
    }
    i{
        margin:  0 1vh;
        color: $color-1;
    }
}
