@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@font-face {
  font-family: 'Sifonn';
  src: url("../font/SIFONN_PRO.otf"); }

@font-face {
  font-family: 'Sifonn';
  src: url("../font/SIFONN_PRO.otf"); }

.cover-container {
  width: 100vw;
  height: 20vh; }
  .cover-container div {
    width: 100%;
    height: 100%;
    background: url(../images/cover.png);
    width: 100%;
    height: 100%; }
    @media (min-width: 800px) {
      .cover-container div {
        width: 100%;
        height: 100%;
        background: url(../images/coverDesktop.png); } }
  @media (min-width: 800px) {
    .cover-container {
      width: 50vw;
      height: 100vh; } }

.form-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  @media (min-width: 800px) {
    .form-container {
      width: 50vw;
      height: 100vh; } }

.modals {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 85%;
  font-family: "Sifonn", sans-serif;
  font-size: 10px;
  font-weight: lighter;
  justify-content: space-around;
  background: linear-gradient(180deg, #040240 0%, #2D2981 100%);
  border-radius: 20px; }
  .modals header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    text-align: center;
    color: #ffff;
    margin-top: 3%; }
    .modals header .logo {
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      width: 40px;
      height: auto; }
      @media (min-width: 800px) {
        .modals header .logo {
          width: 50px;
          height: auto; } }
      .modals header .logo:hover {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg); }
    .modals header .title {
      width: 100%;
      height: 100%;
      position: relative;
      color: #F1F1F1;
      top: 0.2vh;
      margin: 0;
      font-family: "Sifonn", sans-serif;
      font-size: 26px;
      font-weight: lighter; }
      @media (min-width: 800px) {
        .modals header .title {
          font-family: "Sifonn", sans-serif;
          font-size: 32px;
          font-weight: lighter; } }
    .modals header .slogan {
      font-family: "Nanum Gothic", sans-serif;
      font-size: 12px;
      font-weight: lighter;
      grid-column: 1/3;
      margin: 0; }
      @media (min-width: 800px) {
        .modals header .slogan {
          font-family: "Nanum Gothic", sans-serif;
          font-size: 14px;
          font-weight: lighter; } }
    @media (min-width: 800px) {
      .modals header {
        margin-bottom: 0%; } }
  .modals main {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
    justify-content: space-around; }
    .modals main .welcome {
      font-family: "Sifonn", sans-serif;
      font-size: 14px;
      font-weight: lighter;
      color: #A4BEFF;
      margin-top: 2%; }
    .modals main .fa-eye {
      position: relative;
      top: -28px;
      left: 95px;
      font-size: 18px;
      color: rgba(40, 40, 41, 0.8); }
    .modals main form {
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: auto;
      margin-top: 15px; }
      .modals main form input {
        width: 75%;
        height: 10%;
        font-family: "Nanum Gothic", sans-serif;
        font-size: 12px;
        font-weight: lighter;
        background-color: #F1F1F1;
        padding: 3%;
        border: 0; }
        .modals main form input:hover {
          border-right: #6ac2fd 3px groove;
          border-left: #6ac2fd 3px groove;
          color: #325aa0; }
        .modals main form input:focus {
          outline: none; }
  @media (min-width: 800px) {
    .modals {
      width: 60%;
      height: 80%; }
      .modals main .fa-eye {
        position: relative;
        top: -33px;
        left: 135px; }
      .modals main .welcome {
        font-family: "Sifonn", sans-serif;
        font-size: 18px;
        font-weight: lighter;
        color: #A4BEFF;
        margin-top: 2%; } }

#login-email, #signUp-name {
  border-radius: 10px 10px 0 0; }

#signUp-email {
  border-radius: 0; }

#login-password, #signUp-password {
  border-radius: 0 0 10px 10px; }

.text-12 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: lighter;
  color: #ffff; }

.text-13 {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  margin: 10px;
  color: #ffff; }

.container-errors {
  position: relative;
  bottom: 10px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 10px;
  font-weight: lighter;
  color: #ffff; }

.question-container {
  align-items: center;
  display: grid;
  grid-template-columns: 60% 50%;
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: lighter;
  color: #ffff; }

.button-access {
  width: 65%;
  height: 40px;
  font-family: "Sifonn", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  border-radius: 10px;
  background: rgba(246, 229, 229, 0.19);
  color: #F1F1F1;
  border: none;
  cursor: pointer;
  outline-style: none;
  margin-top: 2%; }
  .button-access:hover {
    box-shadow: 0px 0px 3px 3px #0ff; }

.rrss {
  width: 40%;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  top: 20px; }

.click-signUp, .click-login {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  text-decoration: none;
  cursor: pointer;
  color: #A4BEFF; }

@font-face {
  font-family: 'Sifonn';
  src: url("../font/SIFONN_PRO.otf"); }

.terms {
  width: 80%;
  height: auto;
  align-items: center;
  display: grid;
  grid-template-columns: 10% 90%;
  text-align: center;
  margin-bottom: 20px;
  text-align: left;
  color: #ffff; }
  .terms p {
    width: 95%;
    height: auto;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 12px;
    font-weight: lighter;
    margin-left: 3%; }

input[type=checkbox] {
  -webkit-transform: scale(3); }

.question-containerSingUp {
  width: 90%;
  position: relative;
  top: 20px;
  align-items: center;
  display: grid;
  grid-template-columns: 61% 39%;
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: lighter;
  color: #ffff; }
  @media (min-width: 800px) {
    .question-containerSingUp {
      width: 70%;
      position: relative;
      top: 20px;
      align-items: center;
      display: grid;
      grid-template-columns: 60% 40%;
      text-align: center; } }

@font-face {
  font-family: 'Sifonn';
  src: url("../font/SIFONN_PRO.otf"); }

#home {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto; }
  #home header {
    font-family: 'Sifonn';
    width: 100vw;
    height: 8vh;
    display: flex;
    z-index: 1;
    background: #0F0C48;
    position: fixed;
    top: 0;
    justify-content: space-between; }
  #home main {
    width: 100vw;
    height: auto;
    margin: 8vh 0 0 0;
    padding: 0; }
  #home footer {
    width: 100vw;
    height: 8vh;
    display: flex;
    z-index: 1;
    background: #0F0C48;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
    align-items: center; }
    @media (min-width: 800px) {
      #home footer {
        display: none; } }

.logo-bunker {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 2vh;
  width: 28vh; }
  .logo-bunker img {
    width: 6vh;
    height: 5vh; }
  .logo-bunker img:hover {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease; }
  .logo-bunker h1 {
    font-size: 4vh;
    color: #fffef9; }

.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .icons .profileBtn {
    margin: 0;
    padding: 0; }
    .icons .profileBtn img {
      border: solid 1.5px #d8d8d8;
      width: 5vh;
      height: 5vh; }
  .icons button {
    background: none;
    border: none; }
  .icons .icon-up, .icons .fa-cog, .icons .user-icon {
    display: none; }
  @media (min-width: 800px) {
    .icons {
      width: 200px;
      height: auto; }
      .icons .icon-up, .icons .fa-cog, .icons .user-icon {
        width: 25px;
        height: 25px;
        display: flex; }
      .icons .fa-bars {
        display: none; } }

.cover-profile {
  border-radius: 10px 10px 0 0;
  margin-top: 1vh;
  background-color: black; }

.profile {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(20, 137, 203, 0.5); }

.lateral-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: none; }
  @media (min-width: 800px) {
    .lateral-left {
      width: 38vw;
      height: auto;
      display: flex; } }
  .lateral-left div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 26vh; }
    @media (min-width: 800px) {
      .lateral-left div:first-child {
        width: 38vw;
        height: 43vh; } }
    .lateral-left div:first-child .cover-profile {
      align-self: flex-start;
      width: 92vw;
      height: 20vh;
      background-color: #3d3c3c; }
      @media (min-width: 800px) {
        .lateral-left div:first-child .cover-profile {
          width: 36vw;
          height: 33vh; } }
    .lateral-left div:first-child .profile {
      position: absolute;
      align-self: flex-end;
      width: 23vw;
      height: 23vw; }
      @media (min-width: 800px) {
        .lateral-left div:first-child .profile {
          width: 10vw;
          height: 10vw; } }
  @media (min-width: 800px) {
    .lateral-left div:last-child {
      width: 38vw; } }
  .lateral-left div:last-child h3, .lateral-left div:last-child h5 {
    text-align: center;
    margin: 1.5vh 0;
    font-size: 3vh;
    color: #1a1919; }
    @media (min-width: 800px) {
      .lateral-left div:last-child h3, .lateral-left div:last-child h5 {
        margin: 1vh 0; } }

.lateral-rigth {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: auto; }
  .lateral-rigth .share-section {
    margin-top: 2vh;
    padding: 1vh;
    width: 95vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    @media (min-width: 800px) {
      .lateral-rigth .share-section {
        width: 27vw; } }
    .lateral-rigth .share-section a {
      text-align: center;
      text-decoration: none;
      padding: 1.7vh 0;
      width: 85vw;
      margin: 0 2vh;
      color: #4d4d4e;
      border: solid 1px #6b6767;
      border-radius: 3vh; }
      @media (min-width: 800px) {
        .lateral-rigth .share-section a {
          width: 45vh;
          padding: 1vh 0; } }
  @media (min-width: 800px) {
    .lateral-rigth {
      width: 40vw;
      height: auto; } }

@media (min-width: 800px) {
  .fixed {
    position: fixed;
    top: 8vh;
    left: 0; }
  .margin-left {
    margin-left: 18vw; } }

#route-change-content {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }

.show-element-flex {
  display: flex; }

.core-rail {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  padding-bottom: 8vh; }
  @media (min-width: 800px) {
    .core-rail {
      padding: 0; } }
  .core-rail ul {
    width: 100%;
    height: auto;
    padding: 0; }

.post-container {
  bottom: 7.5%;
  transition: 1s;
  overflow: hidden;
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 0; }

.hide-overflow {
  overflow: hidden;
  height: 100vh; }
  @media (min-width: 800px) {
    .hide-overflow {
      height: 92vh; } }

@font-face {
  font-family: 'Sifonn';
  src: url("../font/SIFONN_PRO.otf"); }

.terms {
  width: 80%;
  height: auto;
  align-items: center;
  display: grid;
  grid-template-columns: 10% 90%;
  text-align: center;
  margin-bottom: 20px;
  text-align: left;
  color: #ffff; }
  .terms p {
    width: 95%;
    height: auto;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 12px;
    font-weight: lighter;
    margin-left: 3%; }

input[type=checkbox] {
  -webkit-transform: scale(3); }

.question-containerSingUp {
  width: 90%;
  position: relative;
  top: 20px;
  align-items: center;
  display: grid;
  grid-template-columns: 61% 39%;
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: lighter;
  color: #ffff; }
  @media (min-width: 800px) {
    .question-containerSingUp {
      width: 70%;
      position: relative;
      top: 20px;
      align-items: center;
      display: grid;
      grid-template-columns: 60% 40%;
      text-align: center; } }

.publication {
  width: 100%;
  height: auto;
  border-radius: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px -11px #292829;
  margin: 3vh 0;
  padding: 0; }
  .publication i {
    margin: 0 1vh;
    color: #0F0C48;
    font-size: 17px; }
  .publication .header {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    padding: 1vh 0 0 1vh;
    box-sizing: border-box; }
    .publication .header img {
      margin: 2px 2px;
      width: 36px;
      height: 36px;
      margin-top: 3px; }
  .publication .main {
    word-wrap: break-word;
    width: 92vw;
    height: auto;
    margin: 0;
    padding: 2vh 2vh 2vh 2vh;
    box-sizing: border-box;
    font-size: 13px;
    color: #0F0C48;
    font-weight: "Sifonn", sans-serif; }
    @media (min-width: 800px) {
      .publication .main {
        width: 38vw;
        height: auto; } }
  .publication .footer {
    width: 93%;
    height: 30%;
    padding-left: 1vh;
    display: flex;
    justify-content: flex-start; }
    .publication .footer i {
      padding: 0vh 1vh 1vh 1vh;
      box-sizing: border-box;
      color: #0F0C48;
      font-size: 17px; }

.date {
  width: 78vw;
  height: 100%;
  text-align: left;
  color: #0F0C48;
  font-size: 12px;
  padding-left: 1vh; }
  @media (min-width: 800px) {
    .date {
      width: 34vw; } }

.photo-post {
  width: 100vw;
  height: auto; }
  @media (min-width: 800px) {
    .photo-post {
      width: 40vw;
      height: auto; } }

.modal-options {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 0px;
  height: 40px;
  position: relative;
  padding: 0vh 0vh 0vh 1vh;
  box-sizing: border-box;
  margin-left: 4vw;
  font-size: 12px;
  overflow: hidden;
  transition: 0.25s; }

.options-appear {
  width: 100px;
  box-shadow: 0px 0px 2px 0px #666366;
  background-color: #fdfdfd; }

.post-container {
  box-sizing: border-box;
  width: 100vw;
  height: 86vh;
  margin: 0;
  top: 8vh;
  position: absolute; }
  @media (min-width: 800px) {
    .post-container {
      background-color: rgba(0, 0, 0, 0.603);
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 100vw;
      height: 92vh; } }
  .post-container label {
    margin: 0 2vh; }
    .post-container label i {
      color: #0F0C48; }
  .post-container .go-back {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: solid 2px #c3c1c1;
    width: 100vw;
    height: 6vh; }
    @media (min-width: 800px) {
      .post-container .go-back {
        display: none; } }
    .post-container .go-back i {
      margin-left: 1vh;
      font-size: 3.4vh;
      color: #8080a8; }
  .post-container section {
    width: 100vw;
    height: 78vh; }
    @media (min-width: 800px) {
      .post-container section {
        width: 50vw;
        height: 75vh; } }
    .post-container section form {
      width: 100vw;
      height: 78vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      justify-content: space-evenly; }
      @media (min-width: 800px) {
        .post-container section form {
          background-color: #ffffff;
          padding: 2vh;
          border-radius: 3vh;
          width: 50vw;
          height: 75vh; } }
      .post-container section form #option-public {
        width: 94vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        align-items: center; }
        @media (min-width: 800px) {
          .post-container section form #option-public {
            width: 48vw;
            height: 10vh; } }
        .post-container section form #option-public p {
          font-size: 3vh;
          margin: 0 2vh;
          color: #3b3b3b; }
        .post-container section form #option-public select {
          padding: 1vh;
          font-size: 3vh; }
      .post-container section form textarea {
        font-size: 3vh;
        border: none;
        resize: none;
        width: 90vw;
        height: 23vh; }
        @media (min-width: 800px) {
          .post-container section form textarea {
            width: 47vw;
            height: 25vh; } }
      .post-container section form textarea:focus {
        outline: none; }
      .post-container section form #preview {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: 22vh; }
        @media (min-width: 800px) {
          .post-container section form #preview {
            width: 50vw;
            height: 25vh;
            margin-bottom: 1vh; } }
        .post-container section form #preview img {
          width: auto;
          height: 25vh; }
      .post-container section form button {
        padding: 2vh;
        width: 15vh;
        border-radius: 1vh;
        border: none;
        color: cornsilk;
        background-color: #0f0c48; }

#upload-photo, #change-photo, #change-cover {
  display: none; }

.menu-container {
  width: 0;
  height: 86%;
  transition: 0.8s;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 7.5vh;
  background-color: rgba(5, 32, 56, 0.931); }
  .menu-container ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0; }
    .menu-container ul li {
      text-align: center;
      margin: 0;
      color: cornsilk; }
      .menu-container ul li a {
        display: flex;
        justify-content: center;
        padding: 2vh 0;
        text-decoration: none;
        color: cornsilk; }
    .menu-container ul li:last-child {
      padding: 2vh 0; }
    .menu-container ul li:hover {
      background-color: rgba(253, 255, 255, 0.212); }
  @media (min-width: 800px) {
    .menu-container {
      height: 93vh; } }

.appear {
  width: 40vw; }
  @media (min-width: 800px) {
    .appear {
      width: 14vw; } }

#profile-form {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 800px) {
    #profile-form {
      justify-content: center; } }
  #profile-form label {
    margin: 2vh 0;
    font-size: 3vh; }
  #profile-form .photo-label {
    color: #138ef3; }
  #profile-form input {
    padding: 1vh;
    font-size: 3vh; }
  #profile-form button {
    margin: 5vh 0; }
  #profile-form div {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center; }
    @media (min-width: 800px) {
      #profile-form div {
        width: 50vw;
        height: 12vh;
        justify-content: center; } }
    #profile-form div img {
      margin: 2vh 3vh; }
    #profile-form div p {
      font-size: 3vh; }

.themes-options {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 75vh; }
  @media (min-width: 800px) {
    .themes-options {
      border-radius: 3vh;
      background-color: #ffffff;
      width: 50vw;
      height: 75vh; } }
  .themes-options button {
    font-size: 3vh;
    padding: 3vh;
    border: none;
    border-radius: 2vh;
    text-align: center;
    margin: 2vh; }
  .themes-options .light-mode {
    background-color: #fff56b; }
  .themes-options .dark-mode {
    background-color: #6babff; }
  .themes-options i {
    margin: 0 1vh;
    color: #0F0C48; }

@font-face {
  font-family: 'Sifonn';
  src: url("../font/SIFONN_PRO.otf"); }

.contenidoModal {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8); }

.fondo {
  background: #ffff;
  width: 75%;
  height: auto;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 1s;
  transform: translateY(0%);
  box-shadow: 5px 5px 5px #030303; }
  @media (min-width: 800px) {
    .fondo {
      width: 40%;
      height: auto; } }

.imageModal {
  margin-top: 10px;
  width: 15vw; }

.franja {
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  width: 100%;
  height: 32px; }

.fa-times {
  position: absolute;
  left: 0;
  top: 5px;
  right: 0px;
  cursor: pointer;
  color: #ffff;
  font-size: 20px; }

.descripcion {
  margin: 0px 30px 10px 30px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: lighter;
  color: black; }

body, #actual-view, .view {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: 'Nanum Gothic', sans-serif; }

@media (min-width: 800px) {
  .view {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center; } }

i {
  color: #F1F1F1;
  font-size: 25px;
  padding-top: 2px;
  cursor: pointer; }
  i:hover {
    text-shadow: 0 0 5px #00b2ff, 0 0 10px #00b2ff, 0 0 20px #00b2ff, 0 0 40px #26687f, 0 0 80px #26687f, 0 0 90px #26687f, 0 0 100px #26687f, 0 0 140px #26687f, 0 0 180px #26687f; }

ul {
  list-style: none; }
