@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@font-face {
  font-family: "Sifonn";
  src: url(./font/SIFONN_PRO.otf);
}
@font-face {
  font-family: "Sifonn";
  src: url(./font/SIFONN_PRO.otf);
}
.cover-container {
  width: 100vw;
  height: 20vh;
}
.cover-container div {
  width: 100%;
  height: 100%;
  background: url(../images/cover.png);
  width: 100%;
  height: 100%;
}
@media (min-width: 800px) {
  .cover-container div {
    width: 100%;
    height: 100%;
    background: url(../images/coverDesktop.png);
  }
}
@media (min-width: 800px) {
  .cover-container {
    width: 60vw;
    height: 100vh;
  }
}

.form-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 800px) {
  .form-container {
    width: 40vw;
    height: 100vh;
  }
}

.modals {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 90%;
  color: #F1F1F1;
  font-family: "Sifonn" sans-serif;
  font-size: 16px;
  font-weigth: lighter;
  justify-content: space-around;
  background: linear-gradient(180deg, #040240 0%, #2D2981 100%);
  border-radius: 20px;
}
.modals header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  text-align: center;
  margin-top: 2%;
}
.modals header .logo {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  width: 48px;
  height: auto;
}
.modals header .title {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0.5vh;
  margin: 0;
  color: #F1F1F1;
  font-family: "Sifonn" sans-serif;
  font-size: 26px;
  font-weigth: lighter;
}
@media (min-width: 800px) {
  .modals header .title {
    color: #F1F1F1;
    font-family: "Sifonn" sans-serif;
    font-size: 28px;
    font-weigth: lighter;
  }
}
.modals header .slogan {
  color: #F1F1F1;
  font-family: "Nanum Gothic" sans-serif;
  font-size: 11px;
  font-weigth: lighter;
  grid-column: 1/3;
  margin: 0;
}
@media (min-width: 800px) {
  .modals header .slogan {
    color: #F1F1F1;
    font-family: "Nanum Gothic" sans-serif;
    font-size: 13px;
    font-weigth: lighter;
  }
}
.modals main {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80%;
  justify-content: space-around;
}
.modals main form {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
.modals main form input {
  width: 75%;
  height: 10%;
  color: #F1F1F1;
  font-family: "Sifonn" sans-serif;
  font-size: 12px;
  font-weigth: lighter;
  background-color: #F1F1F1;
  padding: 3%;
  border: 0;
}
.modals main form input:hover {
  border-right: #6ac2fd 3px groove;
  border-left: #6ac2fd 3px groove;
  border-top: #6ac2fd 3px groove;
  color: #325aa0;
}
@media (min-width: 800px) {
  .modals {
    width: 65%;
    height: 90%;
  }
}

#login-email, #signUp-name {
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #A4BEFF;
}

#signUp-email {
  border-radius: 0;
  border-bottom: 1px solid #A4BEFF;
}

#login-password, #signUp-password {
  border-radius: 0 0 10px 10px;
}

.text-13 {
  color: #F1F1F1;
  font-family: "Sifonn" sans-serif;
  font-size: 13px;
  font-weigth: lighter;
}

.button-access {
  width: 65%;
  height: 40px;
  color: #F1F1F1;
  font-family: "Sifonn" sans-serif;
  font-size: 16px;
  font-weigth: lighter;
  border-radius: 10px;
  background: grey;
  color: #F1F1F1;
  border: none;
  cursor: pointer;
  outline-style: none;
  margin-top: 2%;
}
.button-access:hover {
  box-shadow: 0px 0px 3px 3px #0ff;
}

.rrss {
  width: 40%;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  top: 20px;
}

.click-signUp, .click-login {
  color: #F1F1F1;
  font-family: "Nanum Gothic" sans-serif;
  font-size: 16px;
  font-weigth: lighter;
  text-decoration: none;
  cursor: pointer;
}

@font-face {
  font-family: "Sifonn";
  src: url(./font/SIFONN_PRO.otf);
}
.logo-static {
  width: 70%;
  height: 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}

.logo:hover, .logo-static:hover {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.title-static {
  color: #F1F1F1;
  font-family: "Sifonn" sans-serif;
  font-size: 20px;
  font-weigth: lighter;
}

.terms {
  width: 80%;
  height: auto;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  text-align: left;
}
.terms p {
  width: 95%;
  height: auto;
  color: #F1F1F1;
  font-family: "Sifonn" sans-serif;
  font-size: 10px;
  font-weigth: lighter;
  margin-left: 3%;
}

.checkbox {
  width: 95%;
}

@font-face {
  font-family: "Sifonn";
  src: url(./font/SIFONN_PRO.otf);
}
#home {
  display: flex;
  flex-direction: column;
}
#home header {
  width: 100%;
  height: 8vh;
  padding: 1vh 3vw 1vh 3vw;
  box-sizing: border-box;
  display: flex;
  background: #0F0C48;
  justify-content: space-between;
}
#home main {
  width: 100vw;
  height: 84vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 800px) {
  #home main {
    width: 100vw;
    height: 92vh;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
  }
}
#home footer {
  width: 100%;
  height: 8vh;
  padding: 1vh 3vw 1vh 3vw;
  box-sizing: border-box;
  display: flex;
  background: #0F0C48;
  justify-content: space-around;
}
@media (min-width: 800px) {
  #home footer {
    display: none;
  }
}

.logo-bunker {
  align-items: center;
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
}
.logo-bunker .logo {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  width: 48px;
  height: auto;
}
.logo-bunker .title {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0.5vh;
  margin: 0;
  color: #F1F1F1;
  font-family: "Sifonn" sans-serif;
  font-size: 26px;
  font-weigth: lighter;
}
@media (min-width: 800px) {
  .logo-bunker .title {
    color: #F1F1F1;
    font-family: "Sifonn" sans-serif;
    font-size: 28px;
    font-weigth: lighter;
  }
}

.icons {
  padding: 1vh 0 2vh 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.icons .icon-up, .icons .fa-cog, .icons .user-icon {
  display: none;
}
@media (min-width: 800px) {
  .icons {
    width: 200px;
    height: auto;
  }
  .icons .icon-up, .icons .fa-cog, .icons .user-icon {
    width: 25px;
    height: 25px;
    display: block;
  }
  .icons .fa-bars {
    display: none;
  }
}

.lateral-left {
  display: none;
  background-color: rgba(20, 137, 203, 0.5);
}
.lateral-left div {
  width: 100%;
  height: 210px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.lateral-left div .profile {
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 1;
  top: -50px;
}
@media (min-width: 800px) {
  .lateral-left {
    width: 35vw;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: grey;
  }
}

.cover-profile {
  width: 85%;
  height: 150px;
  border-radius: 10px 10px 0 0;
  margin-top: 10px;
  background-color: black;
}

.lateral-rigth {
  width: 100vw;
  height: 100%;
  border: 2px solid #A4BEFF;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  .lateral-rigth {
    width: 35vw;
    height: 100%;
  }
}

.share-section {
  width: 100%;
  height: 70px;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  align-items: center;
  display: grid;
  grid-template-columns: 20% 80%;
  text-align: center;
  justify-content: center;
}

.profile {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(20, 137, 203, 0.5);
}

.share {
  border-radius: 20px 20px 20px 0;
  background-color: #A4BEFF;
  border: 0;
  width: auto;
  height: 30px;
}

.core-rail {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

@font-face {
  font-family: "Sifonn";
  src: url(./font/SIFONN_PRO.otf);
}
.logo-static {
  width: 70%;
  height: 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}

.logo:hover, .logo-static:hover {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.title-static {
  color: #F1F1F1;
  font-family: "Sifonn" sans-serif;
  font-size: 20px;
  font-weigth: lighter;
}

.terms {
  width: 80%;
  height: auto;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  text-align: left;
}
.terms p {
  width: 95%;
  height: auto;
  color: #F1F1F1;
  font-family: "Sifonn" sans-serif;
  font-size: 10px;
  font-weigth: lighter;
  margin-left: 3%;
}

.checkbox {
  width: 95%;
}

.publication {
  width: 95%;
  height: auto;
  border-radius: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: grey;
  list-style: none;
}
.publication .header {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
}
.publication .header img {
  width: 30px;
  height: 30px;
  margin: 2px 2px;
}
.publication .main {
  width: 75%;
  height: auto;
  margin: 5% 5%;
}
.publication .footer {
  width: 93%;
  height: 30%;
  display: flex;
  justify-content: start;
  margin-left: 7%;
}

.date {
  width: 50%;
  height: 70%;
  text-align: left;
  color: #0F0C48;
  font-size: 10px;
}

li {
  width: 100%;
  height: auto;
}
li i {
  color: #0F0C48;
  font-size: 15px;
  margin: 2% 5px 2% 0;
}

body, #actual-view, .view {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  outline: 0;
  color: #F1F1F1;
  font-family: "Nanum Gothic" sans-serif;
  font-size: 13px;
  font-weigth: lighter;
  list-style: none;
}
@media (min-width: 800px) {
  body, #actual-view, .view {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
  }
}

i {
  color: #F1F1F1;
  font-size: 25px;
  padding-top: 2px;
  cursor: pointer;
}
i:hover {
  text-shadow: 0 0 5px #00b2ff, 0 0 10px #00b2ff, 0 0 20px #00b2ff, 0 0 40px #26687f, 0 0 80px #26687f, 0 0 90px #26687f, 0 0 100px #26687f, 0 0 140px #26687f, 0 0 180px #26687f;
}

/*# sourceMappingURL=style.css.map */
